<!DOCTYPE html> {% load staticfiles %}
<html lang="eng">
<body>
<!-- </br> -->
  <footer style="position: relative;width: 90%;bottom: 0;left:5%; height:50px;">
  <nav class="navbar bottom navbar-light bg-faded rounded" style="background-color:#F64747;">

    <a class="navbar-brand" style="color:#FFFFFF;">
      <i>Canberra Portuguese Club</i>
    </a>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link-sm" style="color:#FFFFFF;"> University of Canberra </a>
      </li>
    </ul>

  </nav>
</footer>
</body>
</html>
